<% if dog.likes.map(&:user_id).include? current_user.id %>
  <button class="btn profile-edit-btn">
    <%= link_to "Unlike", dog_likes_path(dog_id: dog.id), method: :delete %>
  </button>
<% else %>
  <button class="btn profile-edit-btn">
    <%= link_to "Like", dog_likes_path(dog_id: dog.id), method: :post %>
  </button>
<% end %>
